html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}


#map-title {

  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
 

  background: rgba(255, 255, 255, 0.95);
  padding: 10px 18px;
  border-radius: 10px;

  font-size: 18px;
  font-weight: bold;
  font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;


  z-index: 9999;
}

#year-selector {
  position: absolute;
  left: 20px;
  top: 150px;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 10px;            

  background: rgba(255, 255, 255, 0.9);
  padding: 12px 14px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  font-family: sans-serif;
}


.year-dot {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 600;

  background: #e0e0e0;
  color: #333;

  cursor: pointer;
  transition: all 0.2s ease;
}

.year-dot.active {
  background: #6a3df0;
  color: white;
  transform: scale(1.1);
}


#year-control {
  position: absolute;
  top: 20px;
  left: 20px;

  background: white;
  padding: 12px 14px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  gap: 10px;
}


.year-dot:hover {
  background: #9a7cff;
  color: yellow;
}


#legend {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 9999;

  background: #fddbc7;
  padding: 12px 14px;
  border-radius: 10px;
  box-shadow: #fddbc7;

  font-family: sans-serif;
  font-size: 13px;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.legend-circle {
  display: inline-block;
  background: #7a2ca6; 
  border-radius: 50%;
  margin-right: 8px;
}

.legend-circle.small {
  width: 10px;
  height: 10px;
}

.legend-circle.medium {
  width: 18px;
  height: 18px;
}

.legend-circle.large {
  width: 26px;
  height: 26px;
}

#info-panel {
  position: absolute;
  top: 60px;
  right: 20px;

  width: 260px;
  max-height: 80vh;
  overflow-y: auto;

  background: #d1e5f0;
  padding: 16px 18px;

  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;

  z-index: 9999;
}

#info-panel h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

#info-panel p {
  margin-bottom: 10px;
}

#info-panel .source {
  font-size: 12px;
  color: green;
  margin-top: 12px;
}

